@import url(https://fonts.googleapis.com/css?family=Nova+Square);

$bodyBG: #fff;
$baseFont: 'Verdana', 'sans-serif';
$baseFontColor: #fff;
$baseFontSize: 1rem;

$mainBG: #000;

$clockFont: 'Nova Square';
$clockFontColor: #f55;

